
.calc {
    text-align: center;
    margin-top: 160px;
    display: block;
    
    

}

.first{
    padding: 1px;


    
}

.second{
    padding: 1px;
}

.third {
    padding: 1px;
}

.math {
    padding: 1px;
    margin-left: 16px;
}

.btn1 { 
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;

}

.btn2  {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn3   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn4   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn5   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn6   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn7   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn8   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn9   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.btn0   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.minus   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.plus   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.times   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.divide   {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;     
}

.container {
    font-size: 44px;
    position: absolute;
    margin-top: 50px;
    background-color:  #101010;
    border-radius: 185px;
    padding: 70px;
    color: red;
}







.vysledek {
    background-color: red;
    font-size: 40px;
    border-radius: 70px;
    border-color: black;   
    display: inline-block;
    padding: 11px 25px;            
}
